.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px 300px 300px; /*//move and stretch grid items around and decrease number of rows to fill in spaces*/
    margin: 2rem auto; /*//flexbox to center, center text*/
    max-width: 1000px;
    width: 90%;
    font-family: 'Gabriela', serif;
    font-family: 'Flamenco', cursive;
    font-family: 'Ledger', serif;
}

.grid-item-1 {
    grid-column: 1 /span 3;
    background-color: peachpuff;
    display: flex;
    text-align: center;
    font-size: 12px;

}

.grid-item-2 {
    grid-column: 1 /span 1;
    grid-row: 2/span 1;
    background-color: peachpuff;
    display: flex;
    text-align: center;
    font-size: 11px;
    justify-content: center;
    flex-direction:column;
}

.grid-item-3 {
    grid-column: 2 /span 1;
    grid-row: 2/span 1;
    background-color: peachpuff;
    display: flex;
    text-align: center;
    font-size: 11px;
    justify-content:center;
    flex-direction:column;
}

.grid-item-4 {
    grid-column: 3 /span 1;
    grid-row: 2/span 1;
    background-color: peachpuff;
    display: flex;
    text-align: center;
    font-size: 11px;
    justify-content: center;
    flex-direction:column;
}

.grid-item-5 {
    grid-column: 1 /span 1;
    grid-row: 3/span 1;
    background-color: peachpuff;
    display: flex;
    text-align: center;
    font-size: 12px;
    justify-content: center;
    flex-direction: column;
    background-image:url('screenshots/Virtual Pet Shelter Screenshot.png');
    background-size: cover;
}

.grid-item-6 {
    grid-column: 2 /span 1;
    grid-row: 3/span 1;
    background-color: peachpuff;
    display: flex;
    text-align: center;
    font-size: 12px;
    justify-content: center;
    flex-direction: column;
    background-image:url('screenshots/Fortune Teller Screenshot.png');
    background-size: cover;
}

.grid-item-7 {
    grid-column: 3 /span 1;
    grid-row: 3/span 1;
    background-color: peachpuff;
    display: flex;
    text-align: center;
    font-size: 12px;
    justify-content: center;
    flex-direction: column;
    background-image:url('screenshots/Lucky Numbers Screenshot.png');
    background-size:cover;
}

.grid-item-8 {
    grid-column: 1 /span 1;
    grid-row: 4/span 1;
    background-color: peachpuff;
    display: flex;
    text-align: center;
    font-size: 12px;
    justify-content: center;
    flex-direction: column;
}

.grid-item-9 {
    grid-column: 2 /span 1;
    grid-row: 4/span 1;
    background-color: peachpuff;
    display: flex;
    text-align: center;
    font-size: 12px;
    justify-content:center;
    flex-direction:column;
}

.grid-item-10 {
    grid-column: 3 /span 1;
    grid-row: 4/span 1;
    background-color: peachpuff;
    display: flex;
    text-align: center;
    font-size: 12px;
    justify-content: center;
    flex-direction: column;
}

img{
   height: 299px;
   width: 299px;
   justify-content:center;
   display:flex;
   flex-direction:column;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: peachpuff;
}

li {
    float: left;
}

    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color: peachpuff;
        }

.active {
    background-color: peachpuff;
}